@import "body";
@import "header";

body{
    background-color: rgb(153, 180, 180);
    text-align: justify;


  h1{
    color: rgb(116, 27, 27);}

   p{
    color: chocolate;
    text-align: justify;}

}

header{
    div{
        color-adjust: rgb(151, 151, 160);
        text-shadow: 0.5px;    
}

    nav{
        color: rgb(91, 145, 127);
        text-shadow: 0.5px;
    }
    li{
        text-decoration: dashed;
        text-align: justify;
    }

}
section{
    background-color: rgb(145, 111, 68);
    border: solid 1.5px red;
    
}